* {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff9800), to(#ffa726));
  background: url("/jobster/resources/img/rings.svg") no-repeat;
  overflow: hidden;
}

.blue {
  color: #29b6f6;
}

.green {
  color: #9ccc65;
}

.purple {
  color: #ba68c8;
}

.cyan {
  color: #4dd0e1;
}

.red {
  color: #ef5350;
}

.content {
  margin-top: 70px;	
  height: 80vh;
  color: white;
  display: -webkit-box;
  display: grid;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 20rem;
  width: 30rem;
  position: relative;
}

.card__side {
  font-size: 22px;	
  height: 17rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  padding: -10px;
  width: 34rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card__side--front {
  background-color: #1c1c1c;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #1c1c1c;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__cont {
  height: 16rem;
  background-color: #1c1c1c;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  margin: 2px;
  color: white;
}

.card__cta p {
  margin-left: 1rem;
}

.card__cta p > .space {
  margin-left: 2rem;
  margin-top: 1rem;
}

.footer{
	text-align: center;
	margin-top: -110px;
}

button { 
  color: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit 22px;
  line-height: 1;
  margin: 2.5em;
  padding: 1em 2em;
  cursor: pointer;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.pulse {
  --color: #19bc8b;
  --hover: #1973bc;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  font-size: large;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}