@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body {
	background: url("../img/home.jpg") no-repeat;
	background-color: #cccccc;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, span {
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
.btn {
    border-radius: 0;
    text-align: center;
    background: rgba(80, 144, 204, 1);
    color: #fff;
    padding: 10px 100px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 99%;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
.btn:hover {
   background-position: 0 -100%;
  color: #fff;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 0;
    position: relative;
}

.site-wrapper {
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.site-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.78;
    z-index: 0;
}
.site-wrapper-inner {
    z-index: 10;
    position: relative;
}
@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%;
    }
}
@media (min-width: 1170px) {
    .cover-container {
        width: 1170px;
    }
}

/*
* Login Form
*/
.sign-in-outer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(35, 107, 174, 0.5);
  border-radius: 3px 3px 0 0;
}
.sign-in-wrap {
  padding: 60px 60px;
  
}
.form-heading {
  font-weight: 100;
  margin-top: 0;
  text-align: center;
  margin-bottom: 60px
}
#login-form > div {
  padding: 0;
}
#login-form input:not([type="submit"]) {
  display: block;
  background: rgba(0,0,0,0);
  width: 100%;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid rgba(80, 144, 204, 0.5);
  box-shadow: 0 !important;
  outline: 0;
  margin-bottom: 15px;
  padding: 10px 16px;
  padding-left: 50px;
  color: #fff;
  transition: all 0.4s ease;
}
#login-form input:not([type="submit"]):focus {
  border-bottom: 2px solid rgba(80, 144, 204,1);
}
.checkbox-group{
display: inline-flex;
}
.checkbox-group span{
	opacity:0.74;
	font-weight: 200;
	margin-top: 6px;
	letter-spacing: 0.5px
}
#toggle-checkbox{
	width:25px;
	margin: 10px;
}
#login-form .input-group {
  width: 100%;
  position: relative.
}
#login-form .input-group .fa {
  position: absolute;
  left: 15px;
  top: 15px;
  color: rgba(255,255,255, 0.5) !important
}
#login-form .form-control {
  box-shadow: none;
}
#login-form input[type="submit"] {
  border: 0;
  width: 100%;
  display: block;
  box-shadow: none;
  margin-top: 60px;
}

#login-form .reset {
  cursor: default;	
  text-align: center;
  display: block;
  margin: 0;
  margin-top: 15px;
  color: rgba(255,255,255, 0.8);
  text-decoration: underline;
  transition: color 0.4s ease;
}
#login-form .reset:hover {
  color: rgba(255,255,255, 1);
}
.sign-in-outer {
  padding: 0;
}
#warning{
	display: none;
	color: red;
	font-size: 16px;
}
#capslockWarning{
	display: none;
	color: red;
	font-size: 16px;
}
/*
* Intro
*/
.page-intro {
    font-weight: 400;
    font-size: 65px;
    margin-top: -90px;
    margin-bottom: 20px;
    cursor: url("../img/logo.png"), default;
}
.intro-cont p {
	cursor: default;
	font-size: 16px;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 30px;
    margin-top: 20px;
}
.intro-cont p a {
  cursor: pointer;	
  color: #ccc;
}
.intro-cont p:last-child {
	margin-bottom: 0;
	margin-top: 40px;
}

.jobster{	
	font-family: "Luckiest Guy", cursive;
	color: #337ab7;
  	text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}
span {
    transform: scale(0.9);
    display: inline-block;
}

span:first-child {
    animation: bop 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }

@keyframes bop {
  0% {
    transform: scale(1.1);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

#emoji{
	cursor: none;
}

#dynamicTime{
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: silver;
	font-weight: 600;
	text-decoration: none;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

::-ms-input-placeholder { /* Edge */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

:placeholder-shown { /* Standard one */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}

#dev{
	text-align: right;
	bottom: 0px;
	margin-right: 112px;
    color: #00ffff;
}
.footer-link{
	font-weight: 500;
    font-size: large;
	color: #aad7fd;
}

.footer-link:hover {
	color: #fff;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0;
  background: #000;
  z-index: 1000;
  -webkit-transition: .75s;
  transition: .75s;
}

.loading-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 7em;
  letter-spacing: .092em;
  margin: 4.5rem 0 1rem;
}

.loading-title {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-progress {
  height: 11px;
  background: #000;
  top: -11px;
  bottom: 0;
  width: 100%;
  position: absolute;
  -webkit-transition: .75s;
  transition: .75s;
}

@media screen and (max-width: 768px) {
  .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
    margin-top: 150px;
  }
  .cover-container {
    padding: 150px 15px;
  }
  .site-wrapper {
    display: block;
    height: auto;
  }
  .site-wrapper-inner {
    display: block;
  }
}


@media screen and (max-height: 650px)  and (min-width: 768px) {
  .sign-in-outer {
    margin-top: -120px
  }
    .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
  }
  .cover-container {
    padding: 150px 0;
  }
}

@media screen and (max-height: 1024px)  and (min-width: 768px) {
  .sign-in-outer {
    margin-top: -120px
  }
    .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
  }
  .cover-container {
    padding: 150px 15px 30px;
  }
   .site-wrapper {
    display: table;
    height: 100%;
  }
  .site-wrapper-inner {
    display: table-cell;
  }
  
}

@media screen and (max-width: 430px) {
  .btn {
    width: 100% !important;
     display: block !important;
    padding : 10px 0 !important;
  }
  .page-intro {
    font-size: 45px;
  }
  .sign-in-wrap {
    padding: 40px;
  }
}